.Home-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100vh;
}

.home-info {
  font-size: 4rem;
  font-family: inter;
  line-height: 1.5em;
  font-weight: 900;
  color: #000;
}
.home-info2 {
  margin-top: 25px;
  font-size: 1.8rem;
  text-decoration: none !important;
  color: #000;
}

.contact-button {
  margin-top: 5px;
  background-color: #00a5ec !important;
  color: #ffffff;
  border: 0;
  height: 40px;
  width: 200px;
  text-align: center;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inter;
  font-weight: 600;
}
.contact-button:hover {
  opacity: 0.8;
}

.nav-content1 {
  font-weight: 900;
  text-decoration: none;
  font-size: 20px;
  color: black;
  text-align: center;
  margin-top: 30px;
}

.nav-content1:hover {
  background-color: black;
}

.img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 250px;
  width: 300px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15rem;
  margin-top: 40px;
}

.social-container {
  height: 50px;
  width: 50px;
  background-color: #00a5ec;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-container:hover {
  opacity: 0.8;
}

.read-more {
  margin-top: 20px;
  cursor: pointer;
}

.read-more a {
  color: #00a5ec !important;
}

.read-more:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .Home-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .home-info {
    font-size: 45px;
    font-family: inter;
    line-height: 1.5em;
    font-weight: 900;
    color: #000;
  }
  .home-info2 {
    margin-top: 30px;
    font-size: 20px;
    color: #000;
  }
  .img_wrapper {
    margin-top: 80px;
    text-align: center;
    margin-left: 10px !important;
  }
  .img {
    height: 200px;
    width: 300px;
  }
}
