.logo-wrapper {
  height: auto;
  width: auto;
  background-color: #00a5ec;
  color: white;
  text-align: center;
  text-decoration: none;
}

.img_AT {
  margin-top: 15px;
  height: 35px;
  width: 45px;
}

h3 {
  font-size: 20px;
  line-height: 1.5em;
  text-decoration: none !important;
  font-family: "Times New Roman", Times, serif;
}

.nav-link {
  height: 100vh;
  color: black;
  background-color: #00a5ec;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
}

.nav-bar {
  height: 75vh;
  width: 16vw;
  display: flex;
  flex-direction: column;
  background-color: #00a5ec;
  text-decoration: none;
}

.nav-wrapper {
  height: 55px;
  width: auto;
  border-bottom: 1px solid #282828;
  background-color: #00a5ec;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.nav-wrapper:hover {
  opacity: 0.6;
  border-bottom: 4px solid black;
}
.nav-wrapper:active {
  border-bottom: 4px solid black;
}

.nav-content:hover {
  color: black;
}

.nav-content {
  font-family: inter;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
}

.ham_logo {
  display: none;
}

.ham_logo_mobile {
  display: none;
}

.ham_logo_mobile_wrapper {
  display: none;
}

.delete_icon_wrapper {
  display: none;
}

.anchal_heading {
  text-decoration: none !important;
}

.whatsapp-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 43px;
  width: 43px;
  background: lightgray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.built-wrapper {
  font-size: 11px;
  color: #fff;
  padding: 13px;
  text-align: center;
}

.whatsapp-container:hover {
  opacity: 0.8;
}

.mobile-header {
  display: none;
}

@media screen and (max-width: 720px) {
  .nav-link {
    height: 100vh;
    background-color: #00a5ec;
    text-decoration: none;
    position: unset;
  }

  .logo-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 55px;
    width: 100vw;
    background-color: #00a5ec;
    color: white;
    text-decoration: none !important;
  }

  .img_AT {
    position: absolute;
    top: 0px;
    right: 20px;
    /* margin-top: 15px; */
    height: 25px;
    width: 35px;
  }

  .delete_icon_wrapper {
    display: block;
    height: 65px;
    background-color: #00a5ec;
    color: #fff;
    z-index: 100;
  }

  .delete_icon {
    height: 25px;
    width: 35px;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .anchal_heading {
    text-decoration: none;
    display: none !important;
  }

  .nav-bar {
    display: none !important;
  }

  .ham_logo_mobile {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #00a5ec;
    text-decoration: none;
    z-index: 100;
  }

  .nav-wrapper {
    display: none !important;
  }

  .ham_logo_mobile_wrapper {
    height: 55px;
    border-bottom: 1px solid #282828;
    background-color: #00a5ec;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 100;
  }

  .ham_logo_mobile_wrapper:hover {
    border-bottom: 4px solid black;
  }

  .ham-content {
    font-family: inter;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
  }
  .ham-content:hover {
    color: black;
  }
  .nav-content {
    display: none;
  }
  .ham_logo {
    position: absolute;
    top: 0px;
    left: 20px;
    display: block !important;
    margin-top: 15px;
    height: 25px;
    width: 35px;
  }
  .ham_logo_mobile_none {
    display: none;
  }
  .ham_logo_content {
    display: none !important;
    position: absolute;
    top: 0px;
    left: 100px;
    height: 55px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #00a5ec;
    text-decoration: none;
  }

  .mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    width: 100vw;
    display: flex;
    background-color: #00a5ec;
  }
}
