@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  text-decoration: none;
  font-family: inter !important;
  line-height: 1.5em !important;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #fff;
}
.navbar {
  width: 12.5vw;
  height: 100vh;
  /* padding: 25px 25px;  */
  background-color: #00a5ec;
}

.right-content {
  width: 100vw;
  height: auto;
  padding: 25px 52px;
  background-color: #fff;
  margin-left: 16vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    /* transform: rotate(0deg); */
    bottom: 0px;
  }
  to {
    /* transform: rotate(360deg); */
    bottom: 50px;
  }
}

@media screen and (max-width: 720px) {
  .navbar {
    display: none;
  }
  .right-content {
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    padding: 25px 25px;
    background-color: #fff;
    margin-left: 0px;
  }
}
